/* Applied "Reddit Mono" to all Text */
body {
  font-family: "Reddit Mono", monospace; /* Applying Reddit Mono font */
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* Late Cards Are Styled Red */
.red {
  background-color: #ec7063;
}

/* Today and Tomorrow Cards Are Styled Yellow */
.yellow {
  background-color: #b2a048;
}
